 body { background: url(zhans.jpg);
}
#survey-form {
  backface-visibility: ;
  color: black;
}

h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2rem;
  }
}